$fontColor: #35373a;
$defaultFont: 'Microsoft Sans Serif', sans-serif;

$widgetBgColor:  rgba(27, 29, 29, 0.5);
$forecastBgColor:  rgba(27, 29, 29, 0.55);
$forecastColor: #d0d0d0;
$fontColor: rgba(255, 255, 255, .9);
$inputBgColor:  rgba(255, 255, 255, 0.9);

$grey50: rgba(0,0,0,.5);

$gutter: 2%;
$gutter2: (2 * $gutter);
$gutter3: (3 * $gutter);
